.recipe {
    border-radius: 10px;
    box-shadow: 0px 5px 20px black;
    margin: 40px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    background: white;
    align-items: center;
    min-width: 40%;
}
@media screen and (max-width: 600px) {
    .recipe {
        justify-content: start;
        padding-left:10 px;
    }
  }